/* CSS Document */
body{background-color: powderblue}
body{font-style: normal}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  border-radius: 20px ;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #ffffff;
  color: black;
}

.nav li {
  border-right: 1px solid #ffffff;
}

.nav li:last-child {
  border-right: none;
}
.boxed {
  background-color: #ffffff ;
  padding: 10px ;
  border-radius: 20px ;
  border: 1px solid #000000 ;
}
